.black{
    /* background-color: lightblue; */
    /* border-style: solid;
    border-width: 1px;
    border-color: black; */
    /* height: 30px;
    width: 30px; */
    padding: 40px 30px;
    height: 8px;
    background-color: darkblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* opacity: .1; */
    /* margin: 0px 19px; */

}

.red{
    /* background-color: lightblue; */
    /* border-style: solid;
    border-width: 1px;
    border-color: black; */
    /* height: 30px;
    width: 30px; */
    padding: 40px 30px;
    height: 8px;
    background-color: darkorange;
      display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.xCheck{
  width: 70px;
  height: 70px;
  border-radius: 0px;
  background-image: url('https://cdn0.iconfinder.com/data/icons/board-games-colored-1/48/Games_BoardGames_Artboard_15-512.png');
  background-size: contain;
  filter: drop-shadow(0px 2px 2px black);

}

.oCheck{
  width: 70px;
  height: 70px;
  border-radius: 0px;
  background-image: url('https://cdn0.iconfinder.com/data/icons/board-games-flat-1/48/Games_BoardGames_Artboard_14-512.png');
  background-size: contain;
  filter: drop-shadow(0px 2px 2px black);
}