.checker{
  /* background-color: lightblue; */
  padding: 30px;  
  border: 1px;
  border-color: black;
  border-style: solid;
  width: 35px;
  height: 35px;
}

.mainContain{
  margin-top: 0vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 40px;
  /* width: 100vw; */
}

.mainContain2{
  display: flex;
  flex-wrap: wrap; 
  padding: none;
  /* background-color: lightblue; */

  /* height: 40px; */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.oPieces{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.xPieces{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}